html {
    height: 100%;
}
body {
    background-color: #504F4A;
    padding: 20px;
    border-style: solid;
    border-width: 25px;
    border-color: #31312D;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
    z-index: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #504F4A;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #31312D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

div.title{
    position: absolute;
    top: 12vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

div.footer {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

div.footer a {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;

}


h1 {
    font-family: Silkscreen, cursive;
    font-weight: 500;
    font-size: 65px;
    color: #F6D565;
}
#desc h2, #desc h3, .menu {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color: #C43016;
    text-align: center;
}
.blink_me {
    animation: blinker 2s linear infinite;
  }
  
@keyframes blinker {
50% {
    opacity: 0;
    }
}

.button {
    margin: 10px;
}

.animate-5vw-up {
    position: relative;
    -webkit-animation-name: animate-5vw-up;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes animate-5vw-up {
    0% {
      -webkit-transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, -10vw);
    }
  }


